APP_ENV=dev
APP_SECRET=some-secret-like-229eebf5435b312f187a0a477815ff7c
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

POSTGRES_USER=app
POSTGRES_PASSWORD=your-password
POSTGRES_DB=app
POSTGRES_VERSION=16

MAILER_DSN="smtp://user:password@host:port"